<div class="container">
  <div class="calculator-grid">
    <div class="output">
      <div class="previous-operand">{{ calculationStringSub }}</div>
      <div class="current-operand">{{ calculationStringMain }}</div>
    </div>
    <button class="span-two" (click)="clear()">AC</button>
    <button (click)="delete()">Del</button>
    <button (click)="condition('÷')">÷</button>
    <button (click)="enterValue('1')">1</button>
    <button (click)="enterValue('2')">2</button>
    <button (click)="enterValue('3')">3</button>
    <button (click)="condition('*')">*</button>
    <button (click)="enterValue('4')">4</button>
    <button (click)="enterValue('5')">5</button>
    <button (click)="enterValue('6')">6</button>
    <button (click)="condition('+')">+</button>
    <button (click)="enterValue('7')">7</button>
    <button (click)="enterValue('8')">8</button>
    <button (click)="enterValue('9')">9</button>
    <button (click)="condition('-')">-</button>
    <button (click)="enterValue('.')">.</button>
    <button (click)="enterValue('0')">0</button>
    <button class="span-two" (click)="compute()">=</button>
  </div>
</div>
